/littleScala/nbproject/private/
/littleScala/build/
/littleScala/dist/
ivy/
bin/
build/
dist/
**/nbproject/private/
target/
.gradle/
.settings/
*~
*.old
*.bak
*.swp
*.log
.project
.classpath
/littleware/.nb-gradle/
/littleAsset/.nb-gradle/
/.nb-gradle/
ZipUtilTester.zip
.vscode/
