/littleScala/nbproject/private/
/littleScala/build/
/littleScala/dist/
ivy/
build/
dist/
**/nbproject/private/
target/
.gradle/
*~
*.old
*.bak
*.swp
/littleware/.nb-gradle/
/littleAsset/.nb-gradle/
/.nb-gradle/
ZipUtilTester.zip
