/* 
    Document   : browser
    Created on : Sep 10, 2010, 4:09:59 PM
    Author     : pasquini
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

root { 
    display: block;
}

body, html {
    background-color: #aaaaff;
    color: #ffffff;
    /* border: 2px red solid; */
    padding: 0px;
    margin: 0px;
}

em {
    font-style:italic;
}

div#head {
    background-color: #aaaaaa;
    color: #ffffff;
    height: 30px;
    text-align: left;
    padding: 10px 0px 0px 20px;
    margin: 0px;
    margin-top: 0px;
    margin-bottom: 5px;
    width: 100%;
    clear: both;
}

div#head h2 {
    font-size: 150%;
    padding: 0px;
    clear: none;
    display: inline;
    padding-right: 20px;
}

div#main {
    width:1200px;
    clear:both;
}


div#browserpath {
    text-align: left;
    padding: 5px 0px 5px 20px;
    clear: both;
}

ul.inline li {
    display: inline;
    list-style-type: none;
}

/*.... Browser area ...*/

div.browser {
    width: 850px;
    float: left;
    height: 450px;
    overflow: auto;
    background-color:#ffffff;
    padding: 0px;
    margin: 10px;
}

table.browser {
    width: 100%;
}
table.browser tr {
    max-height: 50px;
    overflow: auto;
}
ul.browser li, table.browser tr td {
    list-style: none;
    background-color: #dddddd;
    margin-top: 2px;
    color: #000000;
    text-align:center;
    padding: 5px 40px 5px 40px;
}

ul.browser li.selected, table.browser tr td.selected {
    background-color: #ddffdd;
}

ul.browser {
    /* border: 1px black solid; */
    padding:0px;
    margin:10px;
}

table.browser tr td, table.browser tr th {
    border: 1px white solid;
    text-align: center;
}

/* ... Product area ... */
div#productBase, div#productDetail, div#history {
    background-color: #ffffff;
    color: #000000;
    float: left;
    /* border: 3px red solid; */
    margin: 10px 0px 0px 10px;
    width: 440px;
    height: 300px;
    overflow: auto;
    padding: 10px;
    text-align: left;
}

div#productBase {
    width: 1200px;
    margin-top: 2px;
    float:left;
    height: 550px;
}

div#productBase p {
    padding: 10px;
    margin: 10px;
}

div#productInfo {
    float:left;
    padding: 10px;
    margin-top: 10px;
    width: 200px;
    border: 1px red solid;
    height: 500px;
}

div#productDetail {
    clear:both;
    display:none;
}
div#history {
    display:none;
}

div#navTabs {
    width: 900px;
    border: 1px black solid;
    float: left;
    margin: 5px;
    padding: 10px;
    background-color: #bbbbcc;
}

table.deftable tr th {
    border-style: none;
    text-align: right;
    font-weight: bold;
    padding: 2px 5px 0px 0px;
}
table.deftable tr td {
    border-style: none;
    text-align: left;
}

ul.tree li {
    margin-top: 5px;
    padding: 5px;
    color: #000000;
    text-align: left;
}

span.button {
    background-color: #ccccff;
}