# Send traffic to me via en0 to line 1500 for special handling
add 1000 set 1 skipto 1500 tcp from any to me in via en0
add 1020 set 1 skipto 2000 all from any to any
# Only allow external traffic to port 80
add 1500 set 2 allow tcp from any to any established
add 1510 set 2 allow tcp from any to me dst-port 80 in
add 1520 set 2 deny ip from any to any # default rule


