<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">

    <listener>
        <description>bootstrap littleware in "application" mode into application scope</description>
        <listener-class>littleware.web.servlet.AssetServerBootListener</listener-class>
    </listener>

    <!--
    <filter>
        <filter-name>SecureFilter</filter-name>
        <filter-class>littleware.apps.littleId.client.web.servlet.SecurityFilter</filter-class>
        <init-param>
            <param-name>loginForm</param-name>
            <param-value>/login/view/en/loginForm.jsp</param-value>
        </init-param>
    </filter>
    <filter>
        <filter-name>AccessFilter</filter-name>
        <filter-class>com.bullingdon.asset.web.servlet.AccessFilter</filter-class>
        <init-param>
            <param-name>accessDeniedPath</param-name>
            <param-value>/login/view/en/accessDenied.jsp</param-value>
        </init-param>
    </filter>
    <filter>
        <filter-name>GzipFilter</filter-name>
        <filter-class>org.mortbay.servlet.GzipFilter</filter-class>
        <! ...
        <filter-class>org.eclipse.jetty.servlets.GzipFilter</filter-class>
        
        <init-param>
            <param-name>mimeTypes</param-name>
            <param-value>text/html,text/plain,text/xml,application/xhtml+xml,text/css,application/javascript,image/svg+xml</param-value>
        </init-param>
        ...>
    </filter>

    <filter-mapping>
        <filter-name>GzipFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping> 
    
    <filter-mapping>
        <filter-name>SecureFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    
    <filter-mapping>
        <filter-name>AccessFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    
        -->
        
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    
    <context-param>
        <param-name>javax.faces.DISABLE_FACELET_JSF_VIEWHANDLER</param-name>
        <param-value>true</param-value>
    </context-param>
    <mime-mapping>
        <extension>svg</extension>
        <mime-type>image/svg+xml</mime-type>
    </mime-mapping>    
 
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
