/* 
        CSS associated with littleware.littleId javascript module
*/


ul.littleTree, ul.littleTree li {
    list-style: none;
}

ul.littleTree.littleTreeClosed {
    display: none;
}

a.treeToggle {
    text-decoration: none;
}