//
// Save this file in your home directory as 
//    .java.policy
// to set your java applet security to trust
// java code loaded from littleware.frickjack.com.
//
// You will have to restart your browser for the
// security policy to take effect.
//
grant codeBase "http://littleware.frickjack.com/-" {
      permission java.security.AllPermission;
};

