<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>
  
  <!-- Servlets -->
  <servlet>
    <servlet-name>greetServlet</servlet-name>
    <servlet-class>littleware.apps.browser.gwt.server.web.servlet.GreetingServiceServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>searchServlet</servlet-name>
    <servlet-class>littleware.apps.browser.gwt.server.web.servlet.SearchServiceServlet</servlet-class>
  </servlet>  
  
  <servlet-mapping>
    <servlet-name>greetServlet</servlet-name>
    <url-pattern>/littlebrowser/greet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>searchServlet</servlet-name>
    <url-pattern>/littlebrowser/search</url-pattern>
  </servlet-mapping>
  
  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>LittleBrowser.html</welcome-file>
  </welcome-file-list>

</web-app>
