a.little-route {
    text-decoration: none;
}

a.little-route.pure-button {
    text-align: left;
    min-width: 50%; 
}
            
div.panel-content {
    padding: 5px;
    min-height: 450px;
}
            
div.panel-content a {
    font-weight: bold;
    color: #77F;
}
            
.app-title {
    font-size: 1.5em;
}
h2 {
    font-weight: normal;
}
            
a.little-tools.pure-button {
    background-color: inherit;
}

ul.little-toolbox.pure-menu {
    padding: 0 0 0 0px;
}


/** for fat fingers ... */
ul.little-menu li input[type=checkbox] {
    margin:5px;
}

/*
ul.little-menu li a {
    width: 100%;
}
    */
