/* 
    Document   : browser
    Created on : Sep 10, 2010, 4:09:59 PM
    Author     : pasquini
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/


ul.inline li {
    display: inline;
    list-style-type: none;
}

/*.... Browser area ...*/

div.browser {
    width: 650px;
    float: left;
    height: 450px;
    overflow: auto;
    background-color:#ffffff;
    padding: 0px;
    margin: 10px;
}

table.browser {
    width: 100%;
}
table.browser tr {
    max-height: 50px;
    overflow: auto;
}
ul.browser li, table.browser tr td {
    list-style: none;
    background-color: #dddddd;
    margin-top: 2px;
    color: #000000;
    text-align:center;
    padding: 5px 40px 5px 40px;
}

ul.browser li.selected, table.browser tr td.selected {
    background-color: #ddffdd;
}

ul.browser {
    /* border: 1px black solid; */
    padding:0px;
    margin:10px;
}

table.browser tr td, table.browser tr th {
    border: 1px white solid;
    text-align: center;
}


/* ... Product area ... */
div#productBase, div#history {
    background-color: #ffffff;
    color: #000000;
    float: left;
    /* border: 3px red solid; */
    margin: 10px 0px 0px 10px;
    height: 300px;
    padding: 10px;
    text-align: left;
}

div#history {
    width: 440px;
    overflow: auto;
}

div#productBase {
    /* width: 1200px; */
    margin-top: 2px;
    float:left;
    height: 550px;
    width: 100%;
}

div#productBase p {
    padding: 10px;
    margin: 10px;
}

div#productInfo {
    float:left;
    padding: 10px;
    margin-top: 10px;
    width: 200px;
    border: 1px red solid;
    height: 500px;
}


div#history {
    display:none;
}

div#navTabs {
    /* width: 900px; */
    border: 1px black solid;
    float: left;
    margin: 5px;
    padding: 10px;
    background-color: #aaaaaa;
}

